//  Main Color
$main-title-color: #393d3c;
$text-color: #333333;
$news-text-color: #6a6969;
$dark-text-color: #000000;
$light-text-color: #ffffff;
$main-accent-color:  #7acec3;
$projects-bg-color: #ebb240;
$studio-bg-color: #ff9b6d;
$news-bg-color: #d4edbf;
$section-title-color: #fefefe;
$bg-color: #e9eae2;
$border-menu-color: #e9eae2;
$count-color: #ff0000;
$action-color: #fd5000;
$studio-bg: #e9eae2;
$news-bg: #e5e9df;
$copyright-color: #191919;

//  Typography
$font-family: 'Roboto Condensed', Arial, sans-serif;

// Main Typography variables
$font-size: 26px;
$font-weight: 400;
$line-height: 1;
